/* Importation de la police d'écriture */

@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");

body {
  font-family: Delius;
  background-color: white;
}

.taille-email {
  width: 30rem;
}

.design-email {
  border-radius: 8px;
  height: 3rem;
}

.design-email {
  border-radius: 8px;
  height: 3rem;
  border-color: 3px solid #4d5deb;
}

.taille-mdp {
  width: 30rem;
}

.design-mdp {
  border-radius: 8px;
  height: 3rem;
}

.btn-connexion {
  font-size: large;
  border: 3px solid black;
  background-color: #4d5deb;
  color: white;
  width: 30rem;
}

.btn-connexion:hover {
  background-color: #6f8fec;
  border: 3px solid black;
  color: white;
}

.design-button {
  font-size: large;
  border: 3px solid black;
  background-color: #4d5deb;
  color: white;
  width: 17rem;
}

.design-button:hover {
  background-color: #6f8fec;
  border: 3px solid black;
  color: white;
}

.design-btn-admin {
  font-size: large;
  border: 3px solid black;
  background-color: #ec6565;
  color: white;
  width: 17rem;
}

.design-btn-admin:hover {
  background-color: #a03d3d;
  border: 3px solid black;
  color: white;
}

.taille-logo {
  max-width: 100%;
  max-height: 100%;
}

.cat {
 height: 50px;
 width: 175px;
}

.div-formulaire {
  width: 60%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  flex-wrap: wrap;
  text-align: center;
  justify-self: center;
  background-color: #cacfe1;
}

.taille-label-form {
  width: 15%;
}

.taille-input-form {
  width: 85%;
}

.taille-textarea {
  width: 85%;
  height: 20rem;
}
